@{
    ViewData["Title"] = "Cadastro de Clientes";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Sistema de Cadastro de Clientes</h1>
    <p>Feito por<a href="https://github.com/arianysant"> Ariany Andrade</a>.</p>
</div>
